@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

.container {
  max-width: 1340px;
  padding: 0 80px;
  margin: 0 auto;
}


  body {
    font-family: 'Geologica', sans-serif;
    font-family: Inter;

  }



@media (max-width: 575px) {
  .container {
    padding: 0 24px;
  }
}

.white-gradient {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.main-animate {
  padding: 20px 0
}

.main-animate .slide-track {
  display: flex;
  align-items: center;
  gap: 48px;
  animation: 10s linear infinite scroll
}

.main-animate .slide {
  height: 32px;
  flex-shrink: 0;
}
.main-animate .slidee {
  height: 360px;
  flex-shrink: 0;
}
.main-animate .slide-trackk {
  display: flex;
  align-items: center;
  gap: 8px;
  animation: 24s linear infinite scroll
}

 .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
 

@keyframes scroll {
  0% {
    transform: translate(0)
  }

  100% {
    transform: translateX(-1150px)
  }
}

.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #2E3000;
  color: #42db87;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #2E3000;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}

.trending-blogs-section {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(assets/images/trending-sec-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.box {
  opacity: 0;
  position: absolute;
}

.chack:has(.box:checked) {
  background-color: #FFFFFFE5;
  color: #0D0D0D;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

